extends ../public/layout

block content
    .ui.modal
        i.close.icon
        .header
            | New Emplyee
        .image.content
            .ui.medium.image
                | QR Code Here
            .description
                .ui.header Emplyee details Emplyee details Emplyee details Emplyee details Emplyee details Emplyee details Emplyee details
                form.ui.form(method="post", action="/emplyees/add", id="addForm")
                    .field
                        label First Name
                        input(type="text", name="firstName")
                    .field
                        label Last Name
                        input(type="text", name="lastName" )
                    .field
                        label Department:
                        .ui.fluid.search.selection.dropdown
                            input(type="hidden", name="department")
                            i.dropdown.icon
                            .default.text Select Departament
                            .menu
                                each val in company.departaments
                                    .item(data-value="" + val._id) #{val.name}
                    
                    input.ui.hidden(type="text" name="companyId" id="company_id" style="display: none;")    
        .actions
            .ui.cancel.button Cancel
            .ui.button(id="addButton") Add
    .ui.segment.clearing
        h2 #{company.name}'s Emplyees:
            button.ui.button.right.floated(id="modalOpener") New
        table.ui.celled.table
            thead
                tr
                    th Employee
                    th Hours Worked
                    th Status
                    th Details
            tbody
                tr
                    td
                        h4.ui.header
                            i.mini.user.outline.middle.aligned.icon
                            .content
                                | Name
                                .sub.header
                                | Department
                    td
                        | Today: 4 | This Week: 21 | This Month: 122 | Total: 2211  
                    td.center.aligned
                        | Absent
                    td.center.aligned
                        button.ui.button More
    script.
        $(function () {            
            $('.ui.dropdown').dropdown();
            
            $("#modalOpener").click(function(){
        		$(".ui.modal").modal('show');
        	});
            
            $("#addButton").click(function() {
                $("#company_id").val("#{company._id}");
                $("#addForm").submit();
            })
        });
