<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>LeanTime - Dashboard</title>
        <!--  CSS-->
        <link rel="stylesheet" href="/semantic/assets/semantic.min.css">
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/semantic/assets/semantic.min.js"></script>
    </head>
    <body>
