extends ../public/layout

block content
    h2 #{company.name}'s Dashboard:
    .ui.two.column.grid
        .column
            .ui.raised.segment
                a.ui.green.ribbon.label Present
                span Employees:
                each val in present
                    p #{val.firstName} #{val.lastName}
        .column
            .ui.segment
                a.ui.red.right.ribbon.label Absent
                span Employees:
                each val in absent
                    p #{val.firstName}
    script(src="dest/js/socket.io.js")
    script(src="dest/js/dashboard.js")
