extends ../public/layout

block content
    .ui.segment.clearing
        h2 #{company.name}'s departaments:
            button.ui.button.right.floated New
        .ui.relaxed.divided.list
            .item
                i.large.columns.middle.aligned.icon
                .content
                    a.header Department name
                    .description Number of emplyees
            .item
                i.large.github.middle.aligned.icon
                .content
                    a.header Department name
                    .description Number of emplyees
