extends layout

block content
    h1 This is login page
    form.ui.form(method='POST', action='/login')
        .field
            label Username
            input(type='text', name='username', placeholder='Username')
        .field
            label Password
            input(type='password', name='password', placeholder='Password')
        button.ui.button(type='submit') Login
