doctype html
html
    head
        title LeanTime
        link(rel='stylesheet' href="/semantic/assets/semantic.min.css")
        link(rel='stylesheet' href="/dest/css/style.css")
    body
        .ui.grid.one.column.stackable.center.aligned.page
            .column.six.wide.middle.aligned.ui
                img.small.image.logo(src='/dest/img/logo.svg')
                != messages('message', locals)
                if errors
                    each error, i in errors
                        .ui.negative.message
                            .header #{error.msg}
                .ui.segment
                    h2.ui.image.header
                        .content Log-in to your account
                    form.ui.form(method='POST', action='/login')
                        .field
                            label Username
                            input(type='text', name='username', placeholder='Username')
                        .field
                            label Password
                            input(type='password', name='password', placeholder='Password')
                        button.ui.button(type='submit') Login
                    .ui.message New to us?  
                        a(href='/register') Register
        script(src="/dest/js/jquery.min.js")
        script(src="/semantic/assets/semantic.min.js")
