extends layout

block content
    .row
        .column
            .ui.segment
                form.ui.form(method='POST', action='/register')
                    .field
                        label Company
                        input(type='text', name='company', placeholder='Company Name')
                    .field
                        label Comapny Email
                        input(type='email', name='companyemail', placeholder='Company Email Address')
                    .ui.divider
                    .field
                        label Username
                        input(type='text', name='username', placeholder='Username')
                    .field
                        label Email
                        input(type='email', name='email', placeholder='Email Address')
                    .field
                        label Password
                        input(type='password', name='password', placeholder='Password')
                    .field
                        label Confirm Password
                        input(type='password', name='password2', placeholder='Confirm Password')
                    button.ui.button(type='submit') Register
    .row
        .column
